container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collecstatic:
    command: "django-admin.py collectstatic"
    leader_only: true
  03_createsuperuser:
    command: "python manage.py createsu"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: proj.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: proj/wsgi.py

