{% extends 'base.html' %}
{% block content %}
<div id="budget-list-page">
    <h4>예산 잡을 금액: {{ need_budgeted }}</h4>
    <div>{% now "F" %} 자금: {{ funds }}</div>
    <div>지금까지 예산: {{ budgeted }}</div>
    <div class="control-row mb-2">
        <a href="{% url 'budget:create' %}" class="btn btn-success">생성</a>
    </div>

    <div class="budget-list-section">
        <div class="row budget-row border-bottom border-top">
            <div class="col-8 mt-2 mb-2 text-center">
                예산 항목
            </div>

            <div class="col-2 text-center">
                금액
            </div>
            <div class="col-2 text-center">
                비고
            </div>
        </div>

        {% for budget in budgets %}
        <div class="row budget-row border-bottom">
            <a href="{% url 'budget:update' budget.pk %}">
                <div class="col-8 mt-2 mb-2">
                    {{budget.name}}
                </div>
            </a>
            <div class="col-2 text-right">
                {{budget.amount}}원
            </div>
            <div class="col-2 text-center">

            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}