{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<div id="budget-detail-page">
    {{ budget.year_month|date:'Y년 M' }}

    <div class="budget-status mb-3">
        <h2>{{ need_budgeted|intcomma }}원</h2>
        <div >예산 잡을 금액</div>
        <div>{{ budget.month }}월 자금: {{ funds|intcomma }}원</div>
        <div>지금까지 예산: {{ budget.budgeted_sum |intcomma }}원</div>
        <div>사용한 예산: {{ budget.activity_sum |intcomma }}원</div>
    </div>

    <div class="category-list-section">
        {% for item in budget.items.all %}
        <div class="budget-row">
            <a href="{% url 'budget:category_update' item.category.pk %}">{{item.category.name}}</a> : {{item.budgeted|intcomma}}원 / {{item.activity|intcomma}}원
        </div>
        {% endfor %}

    </div>
    <div class="control-row align-right my-2">
        <a href="{% url 'budget:category_create' %}" class="btn btn-success">생성</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(function(){

})
</script>
{% endblock %}