html, body{
    height:100%;
}
.full-height{
    height:100%;
}
a{
    color: rgba(0,0,0,.7);
}
a:hover{
    color: rgba(0,0,0, .9);
    text-decoration: none!important;
}
.dropdown{
    display: inline-block;
}

.category-list-section>.budget-row:first-child{
    border-top: 1px solid #ebebeb;
}
.budget-row{
    border-bottom:1px solid #ebebeb;
}

.budget-status{
}
.control-row.align-right{
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1200px){
    .container {
        max-width: 900px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 900px;
    }
}


.budget-meta-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}