<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" >
        <div class="container">
            <a href="{% url 'index' %}" class='navbar-brand'>budget  💸 ️</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class='nav-link' href='{% url "user:logout"  %}'>로그아웃</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class='nav-link' href='{% url "user:login"  %}'>로그인</a>
                    </li>
                {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>